/* width */
::-webkit-scrollbar {
  width: 5px;
}
  
  /* Track */
::-webkit-scrollbar-track {
background-color: grey;
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
  background: #FFD7EA;
  border-radius: 10px;
}

a {
  color: #FF7596;
  overflow-wrap:break-word;
  word-break:break-word; 
  word-wrap: break-word;
  -ms-word-break:break-all
}