.window {
    padding: 85px 20px 75px 20px; display: flex;
    justify-content: center;
}

.grid {
    display: grid;
    max-width: 1300px;
    height: max-content;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    justify-content: space-evenly;
    align-items: flex-start;
}

.singlegrid {
    display : grid;
    grid-template-columns: 1fr;
    gap : 20px;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
background-color: grey;
}
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #FFD7EA;
    border-radius: 10px;
  }