.window {
    padding: 85px 20px 75px 20px; display: flex;
    justify-content: center;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
background-color: grey;
}
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #FFD7EA;
    border-radius: 10px;
  }