.window {
    padding: 85px 20px 75px 20px; display: flex;
    justify-content: center;
}

.grid {
    display: grid;
    max-width: 1300px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    justify-content: space-evenly;
    align-items: flex-start;
}